
@page
@model Anslagstavlan.Pages.ChatRoom.DetailsModel



<h1>@Model.ChatRoom.ChatRoomName's chatroom</h1>

@if (Model.ChatRoom.Messages != null)
{
    @foreach (var message in Model.ChatRoom.Messages)
    {
        <div class="mb-1">
            <p>@message.ChatUser.UserName: @message.Message</p>
            <small>Sent: @message.Date</small>
        </div>

    }
}
else
{
    <h3>This room doesnt have any messages yet. Write some stuff!</h3>
}

<div class="mt-3 mb-3">
    <div class="row justify-content-center align-items-center">
        <form method="post">
            <input type="text" placeholder="Write stuff here.." asp-for="@Model.ChatMessage.Message" />
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>


<div>
    <a class="btn btn-outline-warning" asp-page="/ChatRoom/Edit" asp-route-id="@Model.ChatRoom.ChatRoomId">Edit this room</a>
    <a class="btn btn-outline-info" asp-page="/ChatRoom/Index">Back to list of rooms</a>
</div>
