@page
@model Anslagstavlan.Pages.ChatRoom.ListRoomModel


<h1>List of rooms!</h1>

<p>
    <a asp-page="/ChatRoom/Create">Create New</a>
</p>

@if (Model.ChatRoomModel.Any())
{
    @foreach (var item in Model.ChatRoomModel)
    {

        <h3>@item.ChatRoomName</h3>
        <h4>@item.ChatRoomOwner</h4>
        <a class="btn btn-outline-warning" asp-page="/ChatRoom/Edit" asp-route-id="@item.ChatRoomId">Edit chat room</a>
        <a class="btn btn-outline-success" asp-page="/ChatRoom/Details" asp-route-id="@item.ChatRoomId"> Show messages </a>
        <a class="btn btn-outline-danger" asp-page="/ChatRoom/Delete" asp-route-id="@item.ChatRoomId"> <small>Delete</small></a>
    }
}
